@import "./variables.scss";

.project {
  display: flex;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
.project__cover {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: $contentBackgroundColor;
}
.project__copy {
  padding: 100px;
  border-radius: 10px;
  z-index: 1;
  margin: auto;
  background-color: $contentBackgroundColor;
}
